body {
    font-size: 32px;
    font-family: consolas;
    
}

.game-area{
    position: relative;
    background: rgb(255, 136, 0);
    background: linear-gradient(0deg, rgba(223, 26, 0, 0.849) 0%,
    rgba(247, 236, 81, 0.767) 33%,
    rgb(244, 168, 55) 100%);
    width: 100%;
    height: 93vh;
    margin: 0;
}

.game-start{
    position: absolute;
    width: 30%;
    background-color: rgb(213, 228, 10);
    border-radius: 30px;
    top: 300px;
    left: 30%;
    z-index: 1;
    text-align:center;
    padding:50px;
    
}

.game-score{
    background-color: black;
    color: white;
    text-align: center;
}

.hide{
    display: none;
}

.wizard{
    z-index: 100;
    position: absolute;
    width: 120px;
    height: 80px;
    background-image: url(./images/43583.png);
    background-size: cover;
    
}

.wizard-fire{
    background-image: url(./images/43582.png);
    background-size: cover;
}

.fire-ball{
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(./images/fire-ball.png);
    background-size: cover;
}

.cloud {
    z-index:0;
    position:absolute;
    width: 200px;
    height: 200px;
    background-image: url(./images/cloud.png);
    background-size: cover;
}

.bug {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(./images/bug.png);
    background-size: cover;
}

.game-over{
    position: absolute;
    width: 50%;
    background-color: red;
    top: 100px;
    left: 25%;
    z-index: 1;
    text-align: center;
    padding: 30px;
    
}




